@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Lato&family=Open+Sans&family=Vollkorn&family=Zilla+Slab&display=swap');
/* 27187E, 758BFD, AEB8FE, F1F2F6, FF8600 */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*display: flex;
  flex-direction: column;*/
}
#background {
  border: 2px solid #27187E;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#background.fixed {
  min-width: 24rem;
  max-width: 24rem;
  min-height: 32rem;
  max-height: 32rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Vollkorn', serif;
  color: #27187E;
  font-size: 2rem;
}
#title {
  margin-bottom: 0.5rem;
  font-weight: normal;
}
#confirm {
  'JetBrains Mono', monospace;
}
p {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  color: black;
  font-size: 1rem;
}
.hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-top: 2px solid #27187E;
}
.button {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 1.25rem;
  border: 2px solid #27187E;
  color: #271873;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
  transition: 0.25s;
  cursor: pointer;
}
.button:hover {
  background: #27187E;
  /*color: #F1F2F6;*/
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.button.danger {
  background: #FF8600;
  border-color: #FF8600;
  color: black;
}
.button.danger:hover {
  /*background: #F1F2F6;*/
  background: white;
}

.button.filled {
  background-color: #27187E;
  color: #F1F2F6;
}
.button.filled:hover {
  background-color: #F1F2F6;
  color: #27187E;
}

.action-bar {
  margin-top: 0.5rem;
  display: flex;
}
.action-bar > a:not(:first-child) {
  margin-left: 1rem;
}

.contract-title {
  font-weight: bolder;
}

.tabbar {
  display: flex;
  justify-content: space-around;
}
.tabbar > div > a {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  color: #27187E;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none !important;
}

.tabbar > div > a.selected {
  text-decoration: underline 2px !important;
}

.tabbar > .seperator {
  height: 23px;
  width: 2px;
  background-color: #27187E;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

a {
  color: #27187E;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.mt-auto {
  margin-top: auto;
}
#reputation {
  padding-right: 1rem;
}
#noeffects {
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}
.left {
  text-align: left;
}
#transfers {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#dataview {
  min-height: 18rem;
  flex-grow: 1;
}
#state_diff > div > a {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  color: #27187E;
  font-weight: bold;
  cursor: pointer;
}
#call_trace {
  white-space: nowrap;
}

.chips > p {
  background-color: #E0E1E6;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  margin-top: 0.1rem
}
.chips {
  display: flex;
  flex-wrap: wrap;
}

.contract_rep {
  margin-bottom: 0.5rem;
}

.rep_title_bar {
  display: flex;
}
.rep_title_bar > .rep_score {
  margin-left: auto;
}

.chevron {
  width: 1rem;
  height: 1rem;
  transition: 0.25s;
}

.toggle {
  transform: translate(0.25rem, 0.15rem);
  display: inline-block;
  transition: 1s;
}

.toggle-rotate > svg {
  rotate: 90deg
}
.hidden {
  display: none !important;
}

#loading {
  flex-grow: 1;
}
#loading > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
